__pycache__/
old/
old.result/
result/
boltz2_input/
boltz2_output/
stdout/
sub_script/
chai-lab_input/
chai-lab_output/
input/6PYH.pse
input/6PYH.cif
swiss-model/model_01/*
!swiss-model/model_01/model_01_add-terminal_reorder_numbered_rmv.pdb
!swiss-model/model_01/wt.pdb
IGF1R_pdb/

